.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background:linear-gradient(135deg,rgb(194, 26, 152),#f80759); */
  background:linear-gradient(135deg,rgb(63, 166, 250),#7c0812); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 /*  font-size: calc(10px + 2vmin); */
}

.App-link {
  color: #61dafb;
}

.itinerary_container{
  margin-top:15px;
  margin-bottom:10px;
  padding-top:40px;
  padding-bottom:20px;
  padding-left:0px;
  padding-right:25px;
  background-color:white;
  width:75%;     /*450px*/
  height:100%;       /*700px*/
  min-height:570px;
  max-width: 800px;
  border:2px solid white;
  border-radius:8px;
  color:black;
  overflow-y:scroll;
}

.header_container{
  /* margin-bottom:20px; */
   margin-left:20px;
  /* display:inline; */
  text-align: center;
  font-size: 18px;
}

@media only screen and (min-width:430px)
{
    .itinerary_container{
      width:67%;
    }

    .header_container{
      font-size: 20px;
    }
}

@media only screen and (min-width:465px)
{
    .itinerary_container{
      width:67%;
    }

    .header_container{
      font-size: 22px;
    }
}


@media only screen and (min-width:550px)
{
    .itinerary_container{
      width:63%;
    }
}

@media only screen and (min-width:635px)
{
    .itinerary_container{
      width:60%;
    }
}



@media only screen and (min-width:675px)
{
    .itinerary_container{
      width:55%;
    }
}

@media only screen and (min-width:768px)
{
    .itinerary_container{
      width:52%;
    }
}

@media only screen and (min-width:850px)
{
    .itinerary_container{
      width:55%;
    }
}

@media only screen and (min-width:950px)
{
  .header_container{
    font-size: 24px;
  }
}



.row_header
{
    margin-left:-30px;
    display:inline; 
    /* flex-direction:row;
    justify-content:left; */
}

div.row_header>*{
  vertical-align:middle;
}

input{
   border-radius:3px;
}

input:focus{
  outline: none;
}

.add_input{
  width:70%;   /*250px*/
  height:30px;
  font-size:18px;
  margin-top:10px;
}

.add_input_normal{
  background-color:white;
  border:1px solid gray;
}

.add_input_edit{
  background-color:rgba(194, 214, 173, 0.384);
  border:1px solid gray;
}

.add_input_error{
  background-color:#f7eced;
  color:#b60816; 
  border:1px solid #b60816;
}


.button{
  height:30px;
  font-size:18px;  
  border:1px solid gray;
  border-radius:5px;

  background-color:white;
  color:gray;
}

.btn_corr{ /*.label_corr{*/
  margin-left:10px;
}

.btn_corr_top{
  margin-top:10px;
}


.task_container{
  text-align:left; 
  margin-left:30px; 
  font-size: 18px;
}

.task{
  /* text-align:left; */
  margin-top:10px;
  border: 1px solid lightgrey;
  border-radius:4px;
  padding:5px;
  margin-bottom:10px;
}

.task_edit{
  margin-top:10px;
  border: 1px solid lightgrey;
  border-radius:4px;
  padding:5px;
  margin-bottom:10px;
  background-color: rgba(194, 214, 173, 0.384);
}


.help_btn_class{
  margin-bottom:0px;
  height:27px;
  background-color:dimgray;
  color:white;
  display:inline;
  font-size: 12px;
  width:80px;
  /* margin-bottom:10px; */
  /*border:1px solid gray;
  border-radius:5px; */
}

/* label{
  font-size:18px;
} */
