.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background:linear-gradient(135deg,rgb(194, 26, 152),#f80759); */
  background:linear-gradient(135deg,rgb(63, 166, 250),#7c0812); 

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 /*  font-size: calc(10px + 2vmin); */
}

.App-link {
  color: #61dafb;
}

.itinerary_container{
  background-color:white;
  width:450px;
  height:700px;
  border:2px solid white;
  border-radius:8px;
  color:black;
  overflow-y:scroll;
}

.header_container{
  margin-top:30px;
}



input:focus{
  outline: none;
  border-radius:3px;
}

.add_input{
  width:250px;
  height:30px;
  font-size:18px;
}

.add_input_normal{
  background-color:white;
  border:1px solid gray;
}

.add_input_error{
  background-color:#f39fa6;
  color:#7c0812; 
  border:1px solid red;
}


.button{
  /* width:50px; */
  height:30px;
  font-size:18px;  
  border:1px solid gray;
  border-radius:5px;
}

.btn_corr,.label_corr{
  margin-left:10px;
}

.btn_corr_top{
  margin-top:10px;
}



.task_container{
  /* padding-left:-100px; */

  text-align:left;
  margin-left:45px;
  font-size: 18px;
}

.task{
  margin-top:10px;
}


.help_btn_class{
  /* height:25px; */
  background-color: cornflowerblue;
  color:white;
 /*  font-size: 12px;
  border:1px solid gray;
  border-radius:5px; */
}

/* label{
  font-size:18px;
} */


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
